.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-card {
  width: 90vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  border-radius: 20px;
  transition: 1s;
}

.flash-card-rotated {
  transform: rotateX(180deg);
  transition: 1s;
}

.rotated {
  transition: all 0.3s;
  opacity: 0;
}

p {
  transition: all 0.3s;
}

.answear {
  transform: rotateX(180deg);
}
