.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flash-card {
  width: 90vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  border-radius: 20px;
  transition: 1s;
  box-shadow: 0 1px 6px 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
}

.flash-card-rotated {
  transform: rotateX(180deg);
  transition: 1s;
}

.rotated {
  transition: all 0.65s;
  opacity: 0;
}

p {
  transition: all 0.65s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.answear {
  transform: rotateX(180deg);
}

.done {
  position: relative;
  top: 15rem;
}
