<div class="container" *ngIf="!loading">
  <div
    class="flash-card"
    [ngClass]="rotated ? 'flash-card-rotated ' : ''"
    (click)="revealAnswear()"
  >
    <p [ngClass]="rotated ? 'rotated' : ''" class="question">
      {{ card.question }}
    </p>
    <p [ngClass]="rotated ? '' : 'rotated'" class="answear">
      {{ card.answear }}
    </p>
  </div>
  <button class="btn done" (click)="createFlashCard()">Done!</button>
</div>
<div class="container-loading" *ngIf="loading">
  <app-loading-spiner></app-loading-spiner>
</div>
