.card {
  border: 1px solid #e9d4e9;
  border-radius: 30px;
  margin-bottom: 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 80vw;
}

.card-content {
  text-align: left;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  width: 14rem;
  height: 2rem;
  overflow: hidden;
}

.accuracy-label {
  position: relative;
  top: 2rem;
  border-radius: 5px;
  padding: 5px 10px;
  color: #800080;
  font-size: 14px;
  line-height: normal;
}
