<footer class="footer" *ngIf="currentPath !== '/add-file'">
  <div class="footer-content">
    <button class="btn-no-style" [routerLink]="paths.HOMEPAGE">
      <svg-icon
        class="footer-icon"
        src="../../../assets/Home-icon.svg"
      ></svg-icon>
    </button>

    <button class="btn-no-style" (click)="openSideNav()">
      <svg-icon
        class="footer-icon"
        src="../../../assets/Add-icon.svg"
      ></svg-icon>
    </button>

    <button class="btn-no-style" [routerLink]="paths.STATISTICS">
      <svg-icon
        class="footer-icon statistics-icon"
        src="../../../assets/Statistics-icon.svg"
      ></svg-icon>
    </button>
  </div>
</footer>

<div *ngIf="sideNavState" class="side-nav-container">
  <div class="side-nav">
    <p class="add-new-file">Add a New File</p>
    <p class="description">
      You can paste the text you want to learn or insert it manually or you can
      upload a pdf.
    </p>
    <button class="btn text" (click)="redirectToTextAdd()">Text</button>
  </div>
</div>
