.footer {
  display: flex;
  align-items: center;
  bottom: 0;
  height: 83px;
  position: fixed;
  width: 100vw;
  background-color: #fafafa;
  text-align: center;
}

.footer-content {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.footer-icon svg {
  width: 28px;
}
