<div class="container" *ngIf="!loading">
  <app-title
    title="Choose the right answer"
    [icon]="'../../../assets/Expand_left.svg'"
    [enableGoBack]="true"
  ></app-title>
  <div class="quiz">
    <form [formGroup]="quizForm">
      <div class="question">
        <p>{{ question.question }}</p>
        <div class="options" *ngFor="let i of numbers">
          <input
            type="radio"
            [id]="'answer' + i"
            [value]="i"
            [(ngModel)]="selectedAnswer"
            [formControlName]="'answer' + i"
          />
          <label
            [ngClass]="
              submitted
                ? question.answers[i].value
                  ? 'correct'
                  : 'incorrect'
                : ''
            "
          >
            {{ question.answers[i].sentence }}
          </label>
        </div>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-submit">
        Submit
      </button>
    </form>
  </div>
</div>

<div class="loading-container" *ngIf="loading">
  <app-loading-spiner></app-loading-spiner>
</div>
