h1 {
  color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 10;
}

.placeholder {
  width: 100vw;
  height: 95px;
}
