<div class="container">
  <app-title
    title="Choose a file to learn"
    [icon]="'../../../assets/Setting_line.svg'"
    [enableGoBack]="false"
    [route]="paths.SETTINGS"
    (editMode)="toggleEditMode()"
  ></app-title>
  <app-filter-button (switchToggled)="filterFiles()"></app-filter-button>

  <div class="text-file-container">
    <app-text-file
      *ngFor="let file of files"
      [file]="file"
      [editMode]="editMode"
      (refresh)="refresh()"
    >
    </app-text-file>
  </div>
</div>
